In [1]:
from dswe import KNNPowerCurve
import numpy as np
import pandas as pd

### Load dataset

In [2]:
df = pd.read_csv('../../../Downloads/Inland_Offshore_Wind_Farm_Dataset1/Inland Wind Farm Dataset1(WT1).csv')

In [3]:
df.head()

,Sequence No.,V,D,air density,I,S_b,y (% relative to rated power)
0,1,7.96,138.9,1.140224,0.090452,0.266512,39.315152
1,2,8.19,140.6,1.140522,0.083028,0.286167,45.745455
2,3,7.20,139.3,1.140771,0.098611,0.339321,38.212121
3,4,6.81,137.4,1.141186,0.101322,0.375815,28.218182
4,5,5.09,137.5,1.141464,0.165029,0.303472,12.721212

In [4]:
df.shape

(47542, 7)

In [5]:
X_train = df.iloc[:4000, 1:6]
y_train = df.iloc[:4000, 6]

### Fit a KNN Power Curve

In [6]:
knn_model = KNNPowerCurve()
knn_model.fit(X_train, y_train)

In [7]:
print (f"Best K: {knn_model.best_k},  Best RMSE: {knn_model.best_rmse}")

Best K: 5,  Best RMSE: 6.962076541445866

### Predict on the trained model

In [8]:
X_test = df.iloc[4000:4100, 1:6]
y_test = df.iloc[4000:4100, 6]

In [9]:
pred = knn_model.predict(X_test)

In [10]:
output = pd.DataFrame(columns=['Actual', 'Prediction'])
output['Actual'] = y_test
output['Prediction'] = pred
output = output.reset_index(drop=True)
output.head(10)

       Actual  Prediction
0   98.800000   95.786667
1   97.745455   94.178182
2  100.727273   95.812121
3   97.872727   95.444848
4   87.454545   97.831515
5   86.824242   95.419394
6   95.466667   98.833939
7   94.284848   94.178182
8   82.903030   94.178182
9   84.569697   95.373333

### Update the model for new dataset

In [11]:
X_update = df.iloc[4000:6000, 1:6]
y_update = df.iloc[4000:6000, 6]

In [12]:
knn_model.update(X_update, y_update)

### Prediction on new test dataset

In [13]:
X_test_new = df.iloc[6000:6100, 1:6]
y_test_new = df.iloc[6000:6100, 6]

In [14]:
pred2 = knn_model.predict(X_test_new)

In [15]:
output2 = pd.DataFrame(columns=['Actual', 'Prediction'])
output2['Actual'] = y_test_new
output2['Prediction'] = pred2
output2 = output2.reset_index(drop=True)
output2.head(10)

      Actual  Prediction
0  66.200000   64.730303
1  75.381818   45.631818
2  53.133333   52.316667
3  31.751515   18.303030
4  28.896970   29.419697
5  49.690909   29.631818
6  37.812121   28.696970
7  56.539394   39.418182
8  55.727273   41.016667
9  39.703030   53.431818