In [1]:
from dswe import KNNPowerCurve
import numpy as np
import pandas as pd

### Load dataset

In [2]:
df = pd.read_csv('../Inland_Offshore_Wind_Farm_Dataset1/Inland Wind Farm Dataset1(WT1).csv')

In [3]:
df.head()

,Sequence No.,V,D,air density,I,S_b,y (% relative to rated power)
0,1,7.96,138.9,1.140224,0.090452,0.266512,39.315152
1,2,8.19,140.6,1.140522,0.083028,0.286167,45.745455
2,3,7.20,139.3,1.140771,0.098611,0.339321,38.212121
3,4,6.81,137.4,1.141186,0.101322,0.375815,28.218182
4,5,5.09,137.5,1.141464,0.165029,0.303472,12.721212

In [4]:
df.shape

(47542, 7)

In [4]:
train_X = df.iloc[:4000, 1:6]
train_y = df.iloc[:4000, 6]

### Fit a KNN Power Curve

In [5]:
knn_model = KNNPowerCurve().fit(train_X, train_y)

In [6]:
print (f"Best K: {knn_model.best_k},  Best RMSE: {knn_model.best_rmse}")

Best K: 5,  Best RMSE: 6.962076541445866

### Predict on the trained model

In [7]:
test_X = df.iloc[4000:4100, 1:6]
test_y = df.iloc[4000:4100, 6]

In [8]:
pred = knn_model.predict(test_X)

/opt/homebrew/Caskroom/miniforge/base/envs/condapy/lib/python3.9/site-packages/sklearn/base.py:434: UserWarning: X has feature names, but KNeighborsRegressor was fitted without feature names
  warnings.warn(

In [11]:
output = pd.DataFrame(columns=['Actual', 'Prediction'])
output['Actual'] = test_y
output['Prediction'] = pred
output = output.reset_index(drop=True)
output.head(50)

        Actual  Prediction
0    98.800000   95.786667
1    97.745455   94.178182
2   100.727273   95.812121
3    97.872727   95.444848
4    87.454545   97.831515
5    86.824242   95.419394
6    95.466667   98.833939
7    94.284848   94.178182
8    82.903030   94.178182
9    84.569697   95.373333
10   87.812121   95.307879
11   96.769697   94.469091
12   87.218182   96.726061
13   90.690909   94.053333
14   73.503030   95.767273
15   78.878788   93.569697
16   83.781818   93.295758
17   85.321212   85.957576
18   82.363636   88.092121
19   77.387879   85.957576
20   75.793939   79.178182
21   84.157576   87.526061
22   85.296970   78.553939
23   73.975758   73.728485
24   74.648485   59.844848
25   66.321212   52.320000
26   65.575758   49.701818
27   69.266667   53.764848
28   56.678788   50.132121
29   45.757576   36.647273
30   29.860606   35.218182
31   36.654545   34.835152
32   35.569697   23.191515
33   26.836364   41.601212
34   31.139394   34.576970
35   19.642424   34.009697
36   25.054545   29.671515
37   42.133333   23.080000
38   52.133333   34.009697
39   63.812121   43.852121
40   44.963636   37.945455
41   38.424242   29.141818
42   41.624242   47.972121
43   43.709091   50.672727
44   46.636364   57.692121
45   41.024242   52.090909
46   43.860606   52.090909
47   37.042424   47.972121
48   46.400000   52.090909
49   60.678788   52.090909

### Update the model for new dataset

In [12]:
update_X = df.iloc[4000:6000, 1:6]
update_y = df.iloc[4000:6000, 6]

In [13]:
knn_model = knn_model.update(update_X, update_y)

### Prediction on new test dataset

In [14]:
test_X2 = df.iloc[6000:6100, 1:6]
test_y2 = df.iloc[6000:6100, 6]

In [15]:
pred2 = knn_model.predict(test_X2)

/opt/homebrew/Caskroom/miniforge/base/envs/condapy/lib/python3.9/site-packages/sklearn/base.py:434: UserWarning: X has feature names, but KNeighborsRegressor was fitted without feature names
  warnings.warn(

In [17]:
output2 = pd.DataFrame(columns=['Actual', 'Prediction'])
output2['Actual'] = test_y2
output2['Prediction'] = pred2
output2 = output2.reset_index(drop=True)
output2.head(10)

      Actual  Prediction
0  66.200000   64.730303
1  75.381818   45.631818
2  53.133333   52.316667
3  31.751515   18.303030
4  28.896970   29.419697
5  49.690909   29.631818
6  37.812121   28.696970
7  56.539394   39.418182
8  55.727273   41.016667
9  39.703030   53.431818